*{
    margin: 0;
    border: 0;
    padding: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.card {
    margin: 0 auto 0 auto;
    text-align: center;
}

.high-scores {
    display: none;
}

#scoresList {
    text-align: left;
    list-style: none;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
}

#scoresList li {
    display: block;
    padding: 0.3em 3em 0.3em 3em;
}

.quiz-page {
    display: none;
}

#multipleChoice button {
    display: block;
    margin: 0.5rem auto 0.5rem auto;
    width: 20%;
}

.end-screen {
    display: none;
}

/******** Screen Breaks ********/

@media screen and (min-width: 768px) {
    .card {
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 900px;
    }
}