*{
    margin: 0;
    border: 0;
    padding: 0;
}

.container-fluid {
    padding-right: 0;
    padding-left: 0;
}

.card {
    margin: 0 auto 0 auto;
    text-align: center;
}

.high-scores {
    display: none;
}

.quiz-page {
    display: none;
}

.end-screen {
    display: none;
}

/******** Screen Breaks ********/

@media screen and (min-width: 768px) {
    .card {
        margin-top: 1.5rem;
    }
}

@media screen and (min-width: 992px) {
    .card {
        width: 900px;
    }
}